<div>
    <form *ngIf="cover!==undefined">
        <label > Title </label>
        <input #title type="text" value="{{cover.title}}">
        <br>
        <br>
        <label> Publisher </label>
        <input #publisher type="text" value="{{cover.publisher}}" >
        <br>
        <br>
        <label> Year </label>
        <input #year type="text"  value="{{cover.year}}">
        <br>
        <br>
        <button *ngIf="id===undefined" (click)="create(title.value, publisher.value, year.value)"> New </button>
        <br>
        <br>
        <button  (click)="update()"> Update </button>
        <br>
        <br>
       

    </form>
</div>