<div>
    <div *ngIf="cover!==undefined; else UndefinedCover">
        <ul>
            <li><b>Isbn : </b> {{cover.isbn}}</li>
            <li><b>Title : </b> {{cover.title}}</li>
            <li><b>Publisher : </b> {{ cover.publisher  }} </li>
            <li><b>Year : </b> {{ cover.year }} </li>
        </ul>
       <button (click)="remove()">Delete</button> 
       <br>
       <br>
       <button (click)="goBack()">Back</button> 
    </div>

    <ng-template #UndefinedCover>
        <p>Pas de cover ayant cet identifiant.</p>
    </ng-template>
</div>
