<div>
    <h2> Les livres disponibles : </h2>
    <table>
        <tr>
            <th>Isbn</th>
            <th>Title</th>
            <th>Publisher</th>
            <th>Year</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let cover of coversArray ">
            <td>{{ cover.isbn }}</td>
            <td>{{ cover.title }}</td>
            <td>{{ cover.publisher }}</td>
            <td>{{ cover.year }}</td>
    
            <td><button> <a routerLink="/cover/{{cover.isbn}}"> Show </a> </button>
                <button> <a routerLink="/new-cover/{{cover.isbn}}"> Edit </a> </button>
                <button> <a (click)="remove(cover.isbn)"> Delete </a> </button>
            </td>
        </tr>
    </table>
</div>